<%- include('../partials/header') %>

<main class = 'container'>
  <div class = 'row'>
    <% followers.forEach((follower) => { %>
      <div class = 'col s12 m6 l4'>
        <div class = 'card'>
          <div class = 'row valign-wrapper'>
            <div class = 'col s4 valign'>
              <img class='profilePicture' src="<%=follower.profile_pic_url %>" alt="User Profile Picture" style="width:50px;height:50px;">
              </div>
              <div class = 'col s8'>
                <h5><a href="/users/<%=follower.username%>" class="black-text"> <%= follower.name %> </a></h5>
                <%= follower.username %> <br>
                <%= follower.location %>
              </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</main>

  <%- include('../partials/footer') %>
