<%- include('../partials/header') %>

<main class = 'container'>
  <div class = 'row'>
    <% following.forEach((follower) => { %>
      <div class = 'col s12 m6 l4'>
        <div class = 'card'>
          <div class = 'row valign-wrapper'>
            <div class = 'col s4 valign'>
              <img class='profilePicture' src="https://assets.merriam-webster.com/mw/images/article/art-wap-article-main/puppy-3143-7cfb4d6a42dfc7d9d1ae7e23126279e8@1x.jpg" alt="User Profile Picture" style="width:50px;height:50px;">
              </div>
              <div class = 'col s8'>
                <h5><a href="#" class="black-text"> <%= follower.name %> </a></h5>
                <%= follower.username %> <br>
                <%= follower.location %>
              </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</main>

  <%- include('../partials/footer') %>
