    <%- include('../partials/header') %>
    <div class = 'container'>
      <div class= 'row'>
          <!--container card -->
          <main class = 'card'>

            <div class = 'right-align'>
              <% if (loggedIn) { %>
              <a href="/users/<%=user.username%>/edit"><button class='btn light-green lighten-1'>Edit</button></a>
              <% } %>
            </div>

            <div class = 'center'>
              <h1><%= user.username %></h1>

              <img class='profilePicture' src="<%=user.profile_pic_url%>" alt="User Profile Picture">
              <h5><%= user.location %></h5>

            </div>

            <div class = 'profileContainer'>
                <div class = 'profileCards'>
                  <a href="/users/<%=user.username%>/recipes"><h6>Recipes</h6></a>
                </div>

                <div class = 'profileCards'>
                  <a href="/users/<%=user.username%>/favorites"><h6>Favorites</h6></a>
                </div>


                <div class = 'profileCards'>
                  <a href="/users/<%=user.username%>/following"><h6>Following</h6></a>
                </div>


                <div class = 'profileCards'>
                  <a href="/users/<%=user.username%>/followers"><h6>Followers</h6></a>
                </div>
            </div>

          </main>
      </div>
    </div>
    <%- include('../partials/footer') %>

    </main>

  </body>
</html>
