<%- include('../partials/header') %>

  <div class = 'container bigger'>
    <div class= 'row bigger'>
      <div class=".mediumScreen">
        <main class = 'card bigger flexRecipe'>
          <div class= "flexName">
            <h4> <%=recipe.name%> </h4>
            <h7> <a href="/users/<%=user.username%>"> <%=user.username%> </a> </h7>
          </div>

          <div class = "aboutHalf bigger flexIngred">
            <h6><b>Ingredients</b></h6>
            <ul>
              <% recipe.ingredients.forEach((ingredient) =>{  %>
                <li><span><%=ingredient.quantity%></span><%=ingredient.uom%><span><span><%=ingredient.ingredient%></span></span></li>
              <% }) %>
            </ul>
          </div>

          <div class = "aboutHalf bigger flexImgBox">
            <img class = "recipeImg responsive-img" src="<%=recipe.recipe_pic_url%>" alt="Recipe" style="height:200px;">
            <div> <%= recipe.upvotes %> Upvotes</div>
            <div>
              <span>
                <% if (recipe.vegan) { %>
                  <span>Vegan</span>
                <%}%>
                <% if (recipe.vegetarian) {%>
                  <span>Vegetarian</span>
                <%}%>
                <% if (recipe.pescatarian) {%>
                  <span>Pescatarian</span>
                <%}%>
                <% if (recipe.gluten_free) {%>
                  <span>Gluten Free</span>
                <%}%>
                <% if (recipe.dairy_free) {%>
                  <span>Dairy Free</span>
                <%}%>
              </span>
            </div>
          </div>

          <div class = "aboutHalf bigger flexInstr">
            <h6><b>Instructions</b></h6>
            <p> <%=recipe.instructions%> </p>
          </div>

        </main>
      </div>
    </div>
  </div>

<%- include('../partials/footer') %>
